export SEPOLIA_RPC_URL=
export BASE_SEPOLIA_RPC_URL=
export KEYSTORE_NODE_RPC_URL=https://keystore-rpc-node.axiom.xyz
export KEYSTORE_SEQUENCER_RPC_URL=https://keystore-rpc-sequencer.axiom.xyz
export KEYSTORE_SIGNATURE_PROVER_RPC_URL=https://keystore-rpc-signatureprover.axiom.xyz
export KEYSTORE_VALIDATOR_L2_ADDRESS=0xb1060Eaa96b4E9f7157610efE57957ede859fAe0
export KEYSTORE_BRIDGE_ADDRESS=0x2b546c13e8062203805FB7f2610Ed48705dE262A
export BUNDLING_PRIVATE_KEY=0x
